/Othello/Othello2/nbproject/private/
/Othello/Othello2/build/
/AplicacionDistribuidaParaBusquedaDeArchivos/AplicacionDistribuidaParaBusquedaDeArchivos/nbproject/private/
/AplicacionDistribuidaParaBusquedaDeArchivos/AplicacionDistribuidaParaBusquedaDeArchivos/build/
/Examen_AplicacionDistribuidaParaBusquedaDeArchivos/AplicacionDistribuidaParaBusquedaDeArchivos/nbproject/private/
/Examen_AplicacionDistribuidaParaBusquedaDeArchivos/AplicacionDistribuidaParaBusquedaDeArchivos/build/